html{
    font-size: 62.5%;
}

body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-size: 2rem;
}

header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #81948a;
    color: white;
    padding: 2rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

footer {
    background-color: #81948a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

section {
    background: rgb(0, 255, 217);
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
